*{
    margin: 0;
    padding: 0;
}

.body{

}

.app{
    width: 40%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f1f2f3;
    padding: .5rem;
}

input{
    width: 90%;
    padding: 1rem .2rem;
    outline: none;
    border-radius: .5rem;
    border: none;
}

button{
    padding: .1rem;
    cursor: pointer;
    font-weight: 900;
    border-radius: .5rem;
}

.income{
    background-color: green;
    color: #fff;
    border-radius: .5rem;

}
.expense{
    background-color: red;
    border-radius: .5rem;
    
}